---
import { APP_NAME } from "astro:env/client";

import "@/styles/global.css";

const {
  title = {
    title: "",
    absolute: "",
    template: "",
    separator: "",
  },
  description,
  generator = false,
  canonical,
  openGraph = {
    title: "",
    description: "",
    url: "",
    type: "",
  },
  themeColor,
} = Astro.props;

const pageTitle = () => {
  if (title?.absolute) return title.absolute;

  const defaultTitle = APP_NAME;

  if (title?.title) {
    const template = title.template || "%title %separator %default";

    return template
      .replace("%title", title.title)
      .replace("%default", defaultTitle)
      .replace("%separator", title.separator || "|");
  }

  return defaultTitle;
};

const pageOpenGraph = {
  title: openGraph.title || pageTitle(),
  description: openGraph.description || description,
  url: openGraph.url || new URL(Astro.url.pathname, Astro.site ?? Astro.url),
  type: openGraph.type || "website",
};
---

<script is:inline>

</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{pageTitle()}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    {generator && <meta name="generator" content={generator} />}
    {themeColor && <meta name="theme-color" content={themeColor} />}

    {pageOpenGraph.title && <meta property="og:title" content={pageOpenGraph.title} />}
    {pageOpenGraph.description && <meta property="og:description" content={pageOpenGraph.description} />}
    {pageOpenGraph.type && <meta property="og:type" content={pageOpenGraph.type} />}

    <link rel="canonical" href={canonical || new URL(Astro.url.pathname, Astro.site ?? Astro.url)} />
  </head>
  <body>
    <slot />
  </body>
</html>
