---
import "@/styles/global.css";

const {
  title,
  description,
  generator = false,
  canonical,
  openGraph = {
    title: title,
    description: description,
    url: new URL(Astro.url.pathname, Astro.site ?? Astro.url),
    type: "website",
  },
  themeColor,
} = Astro.props;
---

<script is:inline>

</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    {generator && <meta name="generator" content={generator} />}
    {themeColor && <meta name="theme-color" content={themeColor} />}

    {openGraph.title && <meta property="og:title" content={openGraph.title} />}
    {openGraph.description && <meta property="og:description" content={openGraph.description} />}
    {openGraph.type && <meta property="og:type" content={openGraph.type} />}

    <link rel="canonical" href={canonical || new URL(Astro.url.pathname, Astro.site ?? Astro.url)} />
  </head>
  <body>
    <slot />
  </body>
</html>
